In [1]:
import pandas as pd

In [7]:
df = pd.read_csv(r"store-sales-time-series-forecasting\train.csv")

In [9]:
df['date']  =pd.to_datetime(df['date'])

In [11]:
df = df.groupby('date').sum().reset_index()

In [13]:
df = df[['date', 'sales']]

In [15]:
df.head()

        date          sales
0 2013-01-01    2511.618999
1 2013-01-02  496092.417944
2 2013-01-03  361461.231124
3 2013-01-04  354459.677093
4 2013-01-05  477350.121229

In [17]:
df.to_csv("processed_sales.csv", index=False)